* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html, body {
 min-height: 100%;
}

body
{
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px;
}

.center-content
{
    margin: 0 auto;
    max-width: 1800px;
}

.footer
{
    .footer-top
    {
        height: 50px;
        width: 50px;
        border-bottom: 1px solid red;

        .legal-links
        {
            a
            {
                text-decoration: none;
            }
        }
    }
}