header
{
    nav
    {
        height: 50px;
        width:100%;
        background-color: gray;

        .logo
        {

        }

        .logo-name
        {

        }

        .nav-links
        {
            a
            {
                text-decoration: none;
                text-transform: uppercase;
                color: $nav-link-color;
                font-size: 14px;
            }
        }
    }
}